body {
  /* margin: 0; */
  /* padding: 0; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
  padding: 50px 0;
}

p {
  font-size: 1.2rem;
}

.display-card {
  max-width: 800px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #e5e5e5;
  border: 1px solid #000;
  cursor: pointer;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

/* a.btn  {
  text-decoration: none;
  color: #000;
}

a.btn:visited {
  text-decoration: none;
}

a.btn:hover {
  background-color: #333;
  color: #fff;
} */