/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}

/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.calc {
  margin: 50px auto;
  float: none;
  
  border: 1px solid gray;
  width: 300px;
  font-size: 30px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
}

.screen {
  flex: 0 0 92%;
  display: flex;
  margin: 4% 4% 2% 4%; 
  height: 60px;
  border: 1px solid gray;
  justify-content: flex-end;
  align-items: center;
  font-size: 40px;
  padding-right: 10px;
}

[class*="button-"] {
	flex: 0 0 92%;
	margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
}

.button-1 {
  flex: 0 0 20%;
}

.button-2 {
  flex: 0 0 44%;
}

.button-3 {
  flex: 0 0 68%;
}

.button-4 {
  flex: 0 0 92%;
}
